<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/lux/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary fixed-top">
      <div class="container">
        <h1 class="mb-0 text-white">Book Catalog</h1>
      </div>
    </nav>
    <main role="main" class="container" style="padding-top: 100px">
      <div class="row">
        <div class="card" id="signin">
          <div class="card-body">
            <div>
              <h4 class="card-title text-primary">Login</h4>
              <h6 class="card-subtitle mt-2 mb-4 text-muted">Sign in with your Google Plus account</h6>
              <div>
                <span class="g-signin"
                      data-scope="openid email"
                      data-clientid="{{client_id}}"
                      data-redirecturi="postmessage"
                      data-accesstype="offline"
                      data-cookiepolicy="single_host_origin"
                      data-callback="signInCallback"
                      data-approvalprompt="force">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div id="result"></div>
      </div>
    </main>
    <script>
      function signInCallback(authResult) {
        if (authResult['code']) {

          // Hide the sign-in button now that the user is authorized
          $('#signin').attr('style', 'display: none');

          // Send the one-time-use code to the server, if the server responds, 
          // write a 'login successful' message to the web page and then redirect 
          // back to the main catalog page
          $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
            processData: false,
            data: authResult['code'],
            contentType: 'application/octet-stream; charset=utf-8',
            success: function(result) {
              // Handle or verify the server response if necessary.
              if (result) {
                $('#successful').attr('style', '');
                $('#result').html('Login Successful!<br><br>'+ result + '<br>Redirecting...');
                setTimeout(function() {
                  window.location.href = "/category";
                }, 4000);
              } else if (authResult['error']) {
                console.log('There was an error: ' + authResult['error']);
              } else {
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
              }
            }
      }); } }
    </script>
  </body>
</html>
